In [1]:
import pandas as pd
import numpy as np
from scipy import stats

## Statistics Assignment-5 (Hypothesis Tests)

Solve at least 3 exercises.

EXERCISE 1. The hourly wages in a particular industry are normally distributed with mean $13.20 and 
standard  deviation   $2.50. A company in this industry employs 40 workers, paying them an average of  $12.20 per hour. 
Can this company be accused of paying substandard wages? Use an α = .01 level test. (Wackerly, Ex.10.18)

CHECK: statistic: -2.5298221281347035, pvalue= 0.005706018193000826

In [5]:
H0 = 13.20
HA = 12.20
std = 2.50
n = 40
alpha = 0.01 
## sample 30 üstü olduğu için normal distribition kullanıcaz.

In [18]:
(12.20 - 13.20) / (2.5/np.sqrt(n))

-2.5298221281347035

In [12]:
stats.norm.cdf(-2.52982665628)

0.0057059445577806005

EXERCISE 2. Shear strength measurements derived from unconfined compression tests for two types of soils gave the results 
shown in the following document (measurements in tons per square foot). Do the soils appear to differ with respect to average 
shear strength, at the 1% significance level?


Results for two type of soils

CHECK: statistic: 5.1681473319343345, pvalue= 2.593228732352821e-06

In [61]:
soil = pd.read_excel("soil.xlsx")
soil.head()

   Soil1  Soil2
0  1.442  1.364
1  1.943  1.878
2  1.110  1.337
3  1.912  1.828
4  1.553  1.371

In [50]:
m1 = soil.Soil1.mean()
m1

1.6918

In [51]:
m2 = soil.Soil2.mean()
m2

1.4171142857142855

In [48]:
s1 = soil.Soil1.std()
s1

0.20690284243310078

In [49]:
s2 = soil.Soil2.std()
s2

0.2191842860711146

In [60]:
stats.ttest_ind_from_stats(mean1=m1, std1=s1, nobs1=30,
                          mean2=m2, std2=s2, nobs2=35)

Ttest_indResult(statistic=5.168147331934331, pvalue=2.5932287323528494e-06)

EXERCISE 3. The following dataset is based on data provided by the World Bank (https://datacatalog.worldbank.org/dataset/education-statistics). 
World Bank Edstats.  

2015 PISA Test Dataset

Get descriptive statistics (the central tendency, dispersion and shape of a dataset’s distribution) for each continent group 
(AS, EU, AF, NA, SA, OC).
Determine whether there is any difference (on the average) for the math scores among European (EU) and Asian (AS) countries (assume
normality and equal variances). Draw side-by-side box plots.

CHECK: statistic=0.870055317967983, pvalue=0.38826888111307345

In [72]:
pisa = pd.read_excel("2015 PISA Test.xlsx")
pisa.head()

,Country Code,Continent_Code,internet_users_per_100,Math,Reading,Science
0,ALB,EU,63.252933,413.1570,405.2588,427.2250
1,ARE,AS,90.500000,427.4827,433.5423,436.7311
2,ARG,SA,68.043064,409.0333,425.3031,432.2262
3,AUS,OC,84.560519,493.8962,502.9006,509.9939
4,AUT,EU,83.940142,496.7423,484.8656,495.0375

In [ ]:
pisa.Continent_Code

In [108]:
pisa_eu= pisa[pisa.Continent_Code == "EU"]
pisa_eu.head()

,Country Code,Continent_Code,internet_users_per_100,Math,Reading,Science
0,ALB,EU,63.252933,413.1570,405.2588,427.2250
4,AUT,EU,83.940142,496.7423,484.8656,495.0375
5,BEL,EU,85.052900,506.9844,498.5242,501.9997
6,BGR,EU,56.656300,441.1899,431.7175,445.7720
9,CHE,EU,87.479056,521.2506,492.1982,505.5058

In [95]:
n1 =pisa_eu.Math.count()
n1

37

In [96]:
m1 = pisa_eu.Math.mean()
m1

477.98144864864867

In [97]:
s1 = pisa_eu.Math.std()
s1

35.150402627270616

In [103]:
pisa_sa = pisa[pisa.Continent_Code=='AS']

In [104]:
m2 = pisa_sa.Math.mean()
m2

466.2166470588236

In [105]:
s2 = pisa_sa.Math.std()
s2

64.3564901327764

In [106]:
n2 = pisa_sa.Math.count()
n2

17

In [107]:
stats.ttest_ind_from_stats(mean1=m1, std1=s1, nobs1=n1,
                      mean2=m2, std2=s2, nobs2=n2)

Ttest_indResult(statistic=0.8700553179679748, pvalue=0.3882688811130779)

EXERCISE 4.The sample dataset has placement test scores (out of 100 points) for four subject areas: English, Reading, Math, and Writing. 
    Students in the sample completed all 4 placement tests when they enrolled in the university. Suppose we are particularly interested 
    in the English and Math sections, and want to determine whether students tended to score higher on their English or Math test, on average. 
    We could use a paired t test to test if there was a significant difference in the average of the two tests.

Sample Dataset 2014

CHECK: statistic=36.312568981719856, pvalue=3.0710987192210606e-128

In [113]:
student = pd.read_excel("students_2014.xlsx")
student.head()

,ids,bday,enrolldate,expgradate,Rank,Major,Gender,Athlete,Height,Weight,...,English,Reading,Math,Writing,State,LiveOnCampus,HowCommute,CommuteTime,SleepTime,StudyTime
0,43783,1995-03-22,NaT,NaT,NaN,NaN,0.0,0,72.35,NaN,...,88.24,81.50,60.02,81.44,In state,1.0,NaN,NaN,7.0,1.0
1,20278,1995-01-01,NaT,NaT,NaN,Philosophy,0.0,0,70.66,179.20,...,89.45,85.25,70.19,73.27,NaN,1.0,NaN,NaN,5.0,2.0
2,20389,1994-12-31,NaT,NaT,NaN,NaN,0.0,0,70.68,198.52,...,96.73,86.88,71.20,84.24,In state,NaN,NaN,NaN,8.0,7.0
3,22820,1994-12-01,NaT,NaT,NaN,business administration,1.0,0,NaN,198.34,...,74.06,88.68,55.89,73.16,In state,1.0,NaN,NaN,2.0,6.0
4,24559,1994-11-10,NaT,NaT,NaN,NaN,1.0,1,67.43,128.17,...,82.61,77.30,65.52,80.45,Out of state,1.0,NaN,NaN,7.0,3.0

In [153]:
student.English.count()

409

In [154]:
student.English.mean()

82.78755501222493

In [155]:
student.English.std()

6.839803158182041

In [156]:
student.Math.count()

422

In [157]:
student.Math.mean()

65.46800947867297

In [158]:
student.Math.std()

8.37592956204943

In [159]:
stats.ttest_ind_from_stats(mean1=82.78755501222493, std1=6.839803158182041, nobs1=409,
                      mean2=65.46800947867297, std2=8.37592956204943, nobs2=422)

Ttest_indResult(statistic=32.59188089176448, pvalue=1.2521075466223829e-150)